body {
    background-color: #235;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing:antialiased;
}

span{
    margin: 0px 0px 0px 5px;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: white;
}

p{ 
    padding: 10px 30px;
}

footer{
    border: 1px solid white;
    margin: auto;
    background-color: black;
    height: 40px;
    padding: 0px;
}


footer h5 {
    text-align: center;
    margin: 10px;
    color: white;
}

.info{
    width:80%;
    border: 1px solid white;
    border-radius: 0px 15px 0px 0px;
    background-color: purple;
}

.info p{
    font-size: 1.4rem;
    color: greenyellow;
    margin: 10px 60px 10px 50px;
    text-align: right;
    padding: 0px;
    display: inline-block;
}

.tally{
}

.logo{
    width: 75px;
    display: inline-block;
}

.instructions{
    text-align: center;
    margin: 5px;
    padding: 0px 30px 0px 0px;
}

#firstp{
    margin-top: 20px;
}

#lastp{
    margin-bottom: 20px;
}

.letter{
    text-align: center;
    /*-webkit-text-stroke: 1px black;*/
    color: white;
    text-shadow: -3px 3px 8px #111111;
}

@keyframes bobble {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translate3d(-10px, 50px, 0px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.bubble{
    animation: bobble 5s infinite;

}

#title{
    font-size: 4rem;
    margin: 0px 200px;
    text-align: center;
    background: -webkit-linear-gradient(white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#playfield{
    border: 1px solid white;

}

#scoreboard {
    height: 164px;
    border-radius: 15px 15px 0px 0px;
    background-color: rebeccapurple;
    border: 1px solid white;
    margin: auto;
}

#gameMsg{
    text-align: center;
}

#score, #lives{
    color: yellow;
    background-color: red;
    display: inline-block;
    width: 30px;
    padding: 0px 3px;;
    text-align: center;
    border-radius: 15px 0px 15px 0px;
}

