body {
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#field {
}

h1, h2, h3, h4, h5, h6, p, span {
    color: white;
}

p{
    margin: 20px;
}

#title{
    text-align: center;
}

#playfield{
    border: 1px solid white;
}

#scoreboard {
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    background-color: rebeccapurple;
    border: 1px solid white;
    margin: auto;
}